.contenidoFiltrado{
    width: 50%;
    height: 100%;
}

.container_busqueda{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    height: auto;
}

.container_filtros{
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

.container_peliculas{
    border: 1px solid black;
    display: grid;

}

.container_main{
    height: auto;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.filtros{
    width: 80%;
    height: auto;
    border: 1px solid black;
    display : flex;
    flex-direction: column;
    gap: 15px;
}

.tittle_filtros{
    font-size: 20px;
    font-weight: bold;
}

.select_filtros{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
}

.input{
    height: 20px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
}

.container_inputBusqueda{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container_buttonAgregarPeli{
    display: flex;
    gap: 10px;
    margin: 2%;

}

.buttonAgregarPeli{
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.inputBusquedaPeli{
    width: 50%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
}

.container_cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
}


.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_container{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    height: 80%;
}

.form_agregar{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}