.containerCard {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;    
    border-radius: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
    font-size:0.5rem;
    box-shadow: 0 4px 8px #00000033;
    transition: transform 0.2s ease;
    white-space: nowrap;
  }
  
  .containerCard:hover {
    transform: scale(1.05);
  }
  
  /* Estilos por género */
  .accion {
    background-color: #e53935;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
    font-size:1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
    white-space: nowrap;

  }
  
  .aventura {
    background-color: #43a047;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;    border-radius: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
  font-size:1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
    white-space: nowrap;

  }
  
  .cienciaFiccion {
    background-color: #3949ab;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;    border-radius: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
  font-size:1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
    white-space: nowrap;

  }
  
  .comedia {
    background-color: #fbc02d;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;    border-radius: 30px;
    font-weight: bold;
    text-align: center;
    color: #333;
  font-size:1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
    white-space: nowrap;

  }
  
  .crimen {
    background-color: #6d4c41;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;    border-radius: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
  font-size:1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
    white-space: nowrap;

  }
  
  .drama {
    background-color: #5e35b1;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;    border-radius: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
  font-size:1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
    white-space: nowrap;

  }
  
  .fantasia {
    background-color: #8e24aa;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;    border-radius: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
    font-size:1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
    white-space: nowrap;

  }
  
  .romance {
    background-color: #d81b60;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;    border-radius: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
  font-size:1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
    white-space: nowrap;

  }
  
  .terror {
    background-color: #212121;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;    border-radius: 30px;
    font-weight: bold;
    text-align: center;
    color: #f1f1f1;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
    white-space: nowrap;

  }
  
  .accion:hover {
    background-color: #ef5350;
  }
  
  .aventura:hover {
    background-color: #66bb6a;
  }
  
  .cienciaFiccion:hover {
    background-color: #5c6bc0;
  }
  
  .comedia:hover {
    background-color: #fdd835;
  }
  
  .crimen:hover {
    background-color: #8d6e63;
  }
  
  .drama:hover {
    background-color: #7e57c2;
  }
  
  .fantasia:hover {
    background-color: #ab47bc;
  }
  
  .romance:hover {
    background-color: #ec407a;
  }
  
  .terror:hover {
    background-color: #424242;
  }
  
  .containerCard:active,
  .accion:active,
  .aventura:active,
  .cienciaFiccion:active,
  .comedia:active,
  .crimen:active,
  .drama:active,
  .fantasia:active,
  .romance:active,
  .terror:active {
  transform: scale(0.97);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
