.container_vistas{
    display: flex;
    justify-content: start;
    background-color: #fff;
    border-radius: 5px;
    align-items: center;
    color: black;
}

.container_cant_vistas_generos {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto; /* Mueve el contenedor hacia la derecha */
}