.container_vistas{
    display: flex;
    justify-content: start;
    border-radius: 5px;
    align-items: center;
    color: black;
    color: #fff;
    width: 100%;
    font-size: x-large;
    font-weight:bold;
}

.container_cant_vistas_generos {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto; /* Mueve el contenedor hacia la derecha */
    margin-right: 1%;
    margin-bottom: 20px;
}

.selectEstadisticas {
    background-color: #222;
    color: #ffffff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    outline: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    border: none;
  }
  
  .selectEstadisticas:hover {
    border-color: #e53935;
    box-shadow: 0 6px 12px rgba(229, 57, 53, 0.4);
  }
  
  .selectEstadisticas:focus {
    border-color: #3949ab;
    box-shadow: 0 0 0 3px rgba(57, 73, 171, 0.3);
  }
  